<%- include('partials/header'); -%>

<div class="content">

<div class="home-form-div" style="text-align:justify">
<h1>About</h1>
<p>Buy-N-Sell operates an online marketplace for consumer-to-consumer sales, targeting users in emerging markets, with a view to providing a safe, reliable and efficient way for consumers to buy and sell their goods.</p><br>
<h3>Value Propositions</h3>
<p>Buy-N-Sell provides value to its customers in the following ways:</p>
<ul>
  <li><b>The quality and reliability of its platform</b>, with an efficient and high-quality platform, Buy-N-Sell provides a reliable and effective channel for consumers to deal with their goods.</li>
  <li><b>Its accessibility and ease of use</b>, with the Company providing a user friendly and flexible experience that can be accessed either through mobile and desktop browsers via the Buy-N-Sell application.</li>
  <li><b>Its broad range of product categories</b>, with the Company enabling consumers to sell a range of products, including electronics, clothes, furniture, cars, and home appliances etc.</li>
</ul><br>
<h3>Channels</h3>
<p>Buy-N-Sell operates this website, through which it provides information on its platform, its services, and its products. The Company operates local online channel across active markets that cater specifically to local consumers. This site allows consumers to register a user account, browse classified products by category, place advertisements, and make purchases.</p>
</div>

</div>

<%- include('partials/footer') -%>
